<h1>ユーザー一覧</h1>
<div id = "user_page">
  <% @users.each do |user| %>
  <div class="user_box clearfix">
    <p class="photo_user"><%= link_to image_tag(user.image.url), user_path(user.id) %></p>
    <p class="name_user"><%= link_to user.name, user_path(user.id) %></p>
  </div>
  <% end %>
</div>
